<!-- Remove the container if you want to extend the Footer to full width. -->
<!--<div class="container my-5" style="width:100%; !important">-->

  <footer class="text-center text-lg-start text-white" style="width:100%; padding: 10px; font-size: 18px; background-color: #4da1e8">

      <!--Grid row-->
      <div class="row my-4" style="margin-top: 100px">
        <!--Grid column-->
        <div class="col-lg-5 col-md-6 mb-4 mb-md-0" style="padding-top: 10px">

          <div class="rounded-circle shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 250px; height: 150px;">
            <img src="./assets/image/logo_iuh.png" height="130%" alt=""
                 loading="lazy" />
          </div>

          <p class="text-left" >Chào mừng các bạn đến với Hệ thống học tập trực tuyến của trường Đại học Công nghiệp TP.HCM, kênh thông tin cung cấp các khóa học trực tuyến của nhà trường cho các bạn sinh viên</p>

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Animals</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Website Nhà Trường</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Website Trung tâm QTHT</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Cổng Thông Tin Sinh Viên</a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Các Khóa Học</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Contact</h5>
          <p>Trung tâm Quản trị Hệ thống - Trường Đại học Công nghiệp TP.HCM</p>
          <ul class="list-unstyled">
            <li>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon style="font-size: 25px">phone</mat-icon>
              </button>
                <span>Phone: 0283.8940 390 - ext 838 </span>
            </li>
            <li>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>email</mat-icon>
              </button>
              <span>E-mail : <a href="#!" class="text-black">csm@iuh.edu.vn</a></span>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>

<!--</div>-->
<!-- End of .container -->
